<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <title>GeBeO</title>
</head>
<body>
    <div class="header">
        <h1 class="title">GeBeO</h1>
        <h3 class="subtitle">Just a robot boi</h3>
        <div class="addbotcontainer">
            <a class="addbot" href="http://AHAHAHAHAHAHAHAGOTCHYA">Add him now!</a>
        </div>
    </div>
    <p class="scrollprompt">Need more reason than that?  Scroll down!</p>
    <div class="feature">
        <div class="featurepicleft"></div>
        <div class="featuretextright">
            <h6 class="featuretitle">Jam out</h6>
            <p class="featuredescription">Play music while playing games with your friends.  Supports YouTube links, YouTube searches, and allows you to upload your own sound clips to play.</p>        
        </div>
    </div>
    <div class="feature">
        <div class="featurepicright"></div>
        <div class="featuretextleft">
            <h6 class="featuretitle">Play music in multiple channels</h6>
            <p class="featuredescription">Most bots can only play music in one channel at a time.  GeBeO gets around this by having multiple "speakers" that you can play in multiple channels at once.</p>        
        </div>
    </div>
    <div class="feature">
        <div class="featurepicleft"></div>
        <div class="featuretextright">
            <h6 class="featuretitle">Never run out of voice channels</h6>
            <p class="featuredescription">GeBeO's expando channel feature always makes sure that there's enough room for everyone, while keeping your channel list uncluttered when no one's talking.</p>        
        </div>
    </div>
    <div class="feature">
        <div class="featurepicright"></div>
        <div class="featuretextleft">
            <h6 class="featuretitle">Manage the music queue</h6>
            <p class="featuredescription">Queueing up music and looking at the music queue using Discord commands works, but it's not necessarily ideal.  GeBeO has a website specifically for queueing up and skipping music, as well as watching the music queue live.</p>        
        </div>
    </div>
    <div class="addbotfooter">
        <p class="addbotprompt">Sound pretty cool?</p>
        <div class="addbotcontainer">
            <a class="addbot" href="http://AHAHAHAHAHAHAHAGOTCHYA">Click this to add GeBeO to your server!</a>
        </div>
    </div>
</body>