body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

.header {
    margin-top: 20rem;
    margin-bottom: 12rem;
    width: 100%;
}

.title {
    margin-bottom: 0;
    text-align: center;
    font-size: 8rem;
    font-weight: bold;
}

.subtitle {
    margin-top: 1rem;
    margin-bottom: 8rem;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
}

.addbotcontainer {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}

.addbot {
    color: white;
    font-size: 1.25rem;
}

.scrollprompt {
    padding-top: 2rem;
    padding-bottom: 4rem;
    margin: 0;
    text-align: center;
    background-color: #2C2F33;
}

.feature {
    padding-top: 2rem;
    padding-bottom: 10rem;
    background-color: #2C2F33;
    width: 100%;
}

.featurepicleft {
    
}

.featuretextright {
    width: 60%;
    margin-left: auto;
    margin-right: 2rem;
}

.featurepicright {
    
}

.featuretextleft {
    width: 60%;
    margin-right: auto;
    margin-left: 2rem;
}

.featuretitle {
    margin: 0;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.featuredescription {
    margin: 0;
}

.addbotfooter {
    background-color: #2C2F33;
    padding-bottom: 8rem;
}

.addbotprompt {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
}